@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles that aren't easily replaced by Tailwind */
html {
  color-scheme: dark;
  background-color: #111111;
}

html,
body {
  overflow: hidden;
}

/* Custom header styles */
.header > h2 {
  font-family: 'TWK Everett', sans-serif;
  line-height: 144%;
  color: rgba(255, 255, 255, 0.6);
}

/* Custom footer styles */
footer {
  color: rgba(255, 255, 255, 0.6);
  background-color: var(--lk-bg);
  border-top: 1px solid rgba(255, 255, 255, 0.15);
}

footer a,
h2 a {
  color: #ff6352;
  text-decoration-color: #a33529;
  text-underline-offset: 0.125em;
}

footer a:hover,
h2 a {
  text-decoration-color: #ff6352;
}

h2 a {
  text-decoration: none;
}
