---
import QuickComponent from '~/components/QuickComponent';
import '~/styles/globals.css';
import '@livekit/components-styles';
import '@livekit/components-styles/prefabs';

const params = Astro.params;
console.log('roomName:',  params)
const room = params.roomName || 'test_room';
---

<body>
<QuickComponent room_name={room} client:only="react" />
</body>
