---
// src/pages/exit.astro
import '../../styles/globals.css';
import '@livekit/components-styles';
import '@livekit/components-styles/prefabs';

---

<html>
  <head>
    <title>My Astro Site</title>
  </head>
  <body>
    <div style="margin: 20px;">
      <h1> exit page</h1>
      <a href="/">Back to Home</a>
    </div>
  </body>
</html>