---
// src/pages/exit.astro
import '../../styles/globals.css';
import '@livekit/components-styles';
import '@livekit/components-styles/prefabs';

---

<html>
  <head>
    <title>My Astro Site</title>
  </head>
  <body>
    <h1> exit page</h1>
  </body>
</html>