---
// src/pages/index.astro
//import MeetComponent from '../components/MeetComponent.tsx';
import QuickComponent from '../components/QuickComponent.tsx';
import '../styles/globals.css';
import '@livekit/components-styles';
import '@livekit/components-styles/prefabs';

---

<html>
  <head>
    <title>My Astro Site</title>
  </head>
  <body>
    <QuickComponent client:only="react" />
  </body>
</html>